@use "importer" as imp;



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;

    border: {
        width: 5px;
        style: solid;
        color: imp.$main-color-2;
        radius: 10px;        
    }

    .cards-wrapper {
        width: 100%;
        height: 100%;

        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-wrap: wrap;

        @include imp.d-flex(center, center, wrap);
    }
}